[submodule "Swin-Transformer"]
	path = Swin-Transformer
	url = git@github.com:ddp5730/Swin-Transformer.git
[submodule "swin"]
	path = Swin-Transformer
	url = git@github.com:ddp5730/Swin-Transformer.git
